# Python
__pycache__/
*.pyc
*.pkl
venv/

# Jupyter
.ipynb_checkpoints/
*generate_model.py

# Node/React
node_modules/
client/node_modules/
build/
dist/

# VSCode
.vscode/

# SQLite DB
*.sqlite3
backend/database/*.sqlite3

# Images & generated CSVs
model-dev/images/
backend/uploads/

